/.cabal-sandbox/
/TAGS
/cabal.config
/cabal.sandbox.config
/dist/
/src/TAGS
/data/adult.csv
/data/ml-100k.zip
/data/ml-100k/
/data/sas2csv.py
/data/testdata.manual.2009.06.14.csv
/data/training.1600000.processed.noemoticon.csv
/data/trainingandtestdata.zip
/plot.png
/plot2.png
/.DS_Store
/.cabal
/.cabbages
/buildplan
/data/BP.txt
/data/FL2a.csv
/data/FL_insurance_sample.csv
/data/FL_insurance_sample.csv.zip
/data/SchoolEnrollment.csv
/data/TRIGLY_D.XPT
/data/ex1data2.txt
/data/prestige.csv
/plotPrestige.png
.stack-work
*~
/dist-newstyle
/demo/framestack/framestack.cabal
/.direnv.*
/.envrc
/.ghc.environment*
/.direnv/
